<div class="container color-dark">
  <div class="col">
    <p></p>
  </div>
</div>



<div style="display: flex; flex-wrap: wrap; gap: 30px; padding: 40px; font-family: sans-serif;">

  <!-- FORMULARIO -->
  <div>
    <h2 style="color: #000000; margin-top: 0;">Agregar</h2>
    <form>
      <div style="margin-bottom: 12px;">
        <input type="text" name="name" placeholder="certificados" [(ngModel)]="myCertificates.name"
          style="width: 100%; padding: 10px; border-radius: 6px; border: 1px solid #ccc;">
      </div>
     

    

      <input type="submit" value="{{ btnTxt }}" (click)="AgregarJob()"
        style="width: 100%; padding: 12px; background-color: #000000; color: white; border: none; border-radius: 6px; cursor: pointer; font-weight: bold;">
    </form>
  </div>

 
  <div>
    <h2 style="color: #000000; margin-top: 0;">Lista</h2>

    <div *ngFor="let job of certificates;" style="margin-bottom: 15px; border: 1px solid #1651c5; border-radius: 8px; padding: 12px; background-color: white;">
      <strong>{{ job.name }}</strong><br>
      <br><br>

      <input type="submit" value="Editar" (click)="seleccionarJob(job)"
        style="padding: 6px 12px; background-color: #000000; color: white; border: none; border-radius: 4px; margin-right: 8px; cursor: pointer;">
      <input type="submit" value="Eliminar" (click)="deleteJob(job.id)"
        style="padding: 6px 12px; background-color: #000000; color: white; border: none; border-radius: 4px; cursor: pointer;">
    </div>
  </div>

</div>